{{!-- <h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre> --}}


<!-- contact area 2 start -->
<div class=" error-page" data-background="./assets/img/about/page404.jpg">
<section class="page_404">
    <div class="container">
            <div class="col-sm-12 ">
                <div class="col-sm-10 col-sm-offset-1  text-center">
                    <div class="four_zero_four_bg">
                        <h1 class="text-center ">404</h1>


                    </div>

                    <div class="contant_box_404">
                        <h3 class="h2">
                            Look like you're lost
                        </h3>

                        <p>{{message}}<br>{{error.status}}</p>

                        <a href="/" class="link_404">Go to Home</a>
                    </div>
                </div>
        </div>
    </div>
</section>  
    {{!-- <div class="container">
        <div class="row">
            <div class="col xl-12 col-lg-12 col-md-12">
                <div class="contact__inner_2 error_inner text-center">
                    <h2 class="mb-40">{{message}}</h2>
                    <h3 class="mb-30">{{error.status}}</h3>
                    <p class="mb-40"></p>
                    <a href="/">{{error.stack}}</a>
                </div>
            </div>
        </div>
    </div> --}}
</div>
<!-- contact area 2 end -->

<style>
    
/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}
</style>

{{!-- <section class="page_404">
    <div class="container">
            <div class="col-sm-12 ">
                <div class="col-sm-10 col-sm-offset-1  text-center">
                    <div class="four_zero_four_bg">
                        <h1 class="text-center ">404</h1>


                    </div>

                    <div class="contant_box_404">
                        <h3 class="h2">
                            Look like you're lost
                        </h3>

                        <p>{{message}}<br>{{error.status}}</p>

                        <a href="" class="link_404">Go to Home</a>
                    </div>
                </div>
        </div>
    </div>
</section> --}}